<div class="tt-product-listing row">
  <div class="col-6 col-md-4 tt-col-item" v-for="item in items">
    <div class="tt-product thumbprod-center" style="">
      <div class="tt-image-box">
        <a @click.prevent="showProduct(item)" class="tt-btn-quickview" data-toggle="modal" data-target="#ModalquickView"
           data-tooltip="Quick View" data-tposition="left"></a>

        <a @click.prevent="showProduct(item)">
          <span class="tt-img">

            <template v-if="item.firstVariantImage != null">
              <img width="200" :src="item.firstVariantImage.url"/>
            </template>
            <template v-else>
              <img src="/images/no-variant-image.jpg"/>
            </template>

          </span>
        </a>
      </div>
      <div class="tt-description d-none" :class="{'d-block': item}">
        <div class="tt-row">
          <ul class="tt-add-info">
            <li><h6 class="small m-0 p-1"><i class="icon-f-54"></i><a :href="item.siteBaseUrl + 'products'">${ item.siteName }</a></h6></li>
          </ul>
        </div>
        <h2 class="tt-title"><a @click.prevent="showProduct(item)">${ item.title }</a></h2>
        <div class="tt-price">
          ${ item.defaultPriceAsCurrency }
        </div>
      </div>
    </div>
  </div>
</div>
<!-- The modal -->
<b-modal id="variant-modal" size="xl" @hidden="hideModal" hide-footer>
  <template v-slot:modal-header="{ close }">
    <a class="text-align-left size-large modal-close" @click="close()"><i class="icon-e-30"></i></a>
  </template>

  <product-variant :variants="selectedProduct.productVariants" @cart-added="cartAdded"></product-variant>

</b-modal>

