{% set currentCategory = craft.depotiseModule.app.categories.currentCategory %}
<div class="text-center">
  {% if currentCategory %}
    <h3 class="tt-collapse-title">{{ currentCategory.title }}</h3>
    {% if currentCategory.parent  %}
       <h5><a href="/{{ currentCategory.parent.uri }}">&laquo; Back to {{ currentCategory.parent.title }}</a></h5>
    {% else %}
      <h5><a href="/products">&laquo; Back to All Categories</a></h5>
    {% endif %}
  {% else %}

  {% endif %}
</div>
