
.flex-container {
  display: flex;
  flex-wrap: nowrap;
}

.flex-img {

  text-align: center;
  line-height: 75px;

}
table.order-table {
  border-collapse: collapse;
  margin-bottom: 1em;
  td {
    border: 1px solid black;
    padding: 10px;
  }
}

