{% extends '_layouts/checkout' %}
{% if currentUser is null %}
  {% redirect "/checkout" %}
{% endif %}
{% block content %}
  <h1>Sorry but we don't deliver this time. We'll update on our Facebook page when we operate again. </h1>
  {% if craft.depotiseModule.app.carts.hasActiveOrdersTotal is same as(false) %}
    {% redirect "/products" %}
  {% endif %}
<!--  <payment></payment>-->


{#  {% js %}#}

{#  new Vue({#}
{#    el: "#app",#}
{#    delimiters: ['${', '}'],#}

{#  });#}

{#  {% endjs %}#}

  {#    {% js %}#}
  {#        $('#paymentCurrency').change(function(){#}
  {#            $('form#gateway').submit();#}
  {#        });#}

  {#        $('#paymentMethod').change(function(ev){#}
  {#            $select = $(ev.currentTarget);#}

  {#            if ($select.val().length === 0) {#}
  {#                return;#}
  {#            }#}

  {#            var parts = $select.val().split(':');#}

  {#            var name = 'gatewayId';#}

  {#            if (parts[0] === 'card') {#}
  {#                name = 'paymentSourceId';#}
  {#            }#}

  {#            $select.prop('disabled', 'disabled');#}

  {#            $('form#gateway').append('<input type="hidden" name="' + name + '" value="' + parts[1] + '" />').submit();#}
  {#        });#}
  {#    {% endjs %}#}

  {#    {% js %}#}
  {#        $('#paymentForm').on('submit', function (ev) {#}
  {#            $form = $(this);#}

  {#            if ($form.data('processing')) {#}
  {#                ev.preventDefault();#}

  {#                return false;#}
  {#            }#}

  {#            $form.data('processing', true);#}
  {#        });#}
  {#    {% endjs %}#}
{% endblock %}
